<%= form_with(model: book_chapter, url: user_book_book_chapters_path(@user_book), local: true, class: "chapter") do |form| %>
  <% if book_chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_chapter.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book_chapter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :chapter_number %>
    <%= form.number_field :chapter_number %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

