<p><%= image_tag @book.book_cover if @book.book_cover.attached? %>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @book.quantity %>
</p>

<%= link_to 'Book this book', create_booking_book_path(@book), method: :post, data: { confirm: 'Are you sure you want to book this book?' } %>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
