<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
    <div class="user-info">
    <strong style="text-transform: uppercase;"><%= current_user.role %><br></strong>
    <%= current_user.username %>
    <%= link_to 'Edit Account', edit_user_registration_path %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    </div>
    <% else %>
    <div class="user-actions">
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Log in', new_user_session_path %>
    </div>
    <% end %>
    </header>
    <div class= 'navigate' >
    <%= link_to "Home", root_path %>
    <%= link_to "UserBooks", user_books_path %>

    <% if user_signed_in? %>
      <%= link_to "My Bookings", my_bookings_path %>
      <%= link_to "My Books", my_books_path%>
    <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
